<%= semantic_form_for [:admin, @shift],
      builder: ActiveAdmin::FormBuilder do |f| %>
  <%= f.semantic_errors %>

  <%= f.inputs do %>
    <%= f.input :date, as: :datepicker %>
    <%= f.input :start_time, as: :time_picker %>
    <%= f.input :finish_time, as: :time_picker %>
    <%= f.input :rank, as: :select, collection: Shift::RANKS,
                       include_blank: false %>
    <%= f.input :male_count, input_html: { id: 'male_count' } %>
    <%= f.input :female_count, input_html: { id: 'female_count' } %>
    <a class="button" id="simulate">Сгенерировать</a>
    <%= f.input :comment, as: :text %>
  <% end %>

  <%= f.inputs 'Официанты' do %>
    <% f.has_many :payments, class: 'new_waiter' do |e| %>
      <% e.input :waiter, as: :select, collection: Waiter.all  %>
      <% e.input :is_main  %>
    <% end %>
  <% end %>
  <%= f.actions %>
<% end %>
