%h2 Период с #{@start_date} до #{@finish_date}
.br
%h3
  Работник
  %strong.workers#period #{@waiter.name}
%h4
  Ранк
  %strong.workers#period #{@waiter.rank}
%table#peroid_table
  %tr#period_table_header
    %td   
      Дата
    %td    
      Начало
    %td    
      Конец
    %td    
      Длительность
    %td    
      Ранк
    %td 
      Оплата
    %td 
      Оплачено?
    %td
      Дополнительная информация
  -@payments.each do |p|
    %tr
      %td#peroid_table_td   
        = p.shift.date
      %td#peroid_table_td    
        = p.shift.start_time.strftime('%H:%M')
      %td#peroid_table_td    
        = p.shift.finish_time.strftime('%H:%M')
      %td#peroid_table_td    
        = "#{p.shift.length} часов"
      %td#peroid_table_td    
        = p.shift.rank
      %td#peroid_table_td
        = p.self_rate
      %td#peroid_table_td
        - if p.paid?
          Да
        - else
          Нет
      %td#peroid_table_td
        -if p.is_main
          Старший официант
        -elsif p.is_reserve
          Резерв
        -elsif p.is_coordinator
          Координатор

%h4
  Часов отработано
  %strong.workers#period #{@hours_count}
%h4
  Смен как "Старший официант"
  %strong.workers#period #{@main}
%h4
  Смен как "Координатор"
  %strong.workers#period #{@coordinator}
%h4
  Смен как "Резерв"
  %strong.workers#period #{@reserve}
%h3
  К начислению за период
  %strong.workers#period #{@waste}
%h3
  К начислению за период c учетом выданного ранее аванса
  %strong.workers#period #{@limited_waste}

%h3
  =link_to 'Расчитать', upload_payent_admin_waiter_path(@waiter, date: @finish_date, limited_waste: @limited_waste), :data => {:confirm => 'Вы уверены?'}
